*{
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgba(253, 207, 137, 0.479);
}

/* CABEÇALHO */
#cabecalho {
    width: 100%; /*vai adaptar a tel do usuário */
    background-color: rgb(233, 136, 79);
    padding: 30px 0px;
    display: flex;
}
/* dividir o cabeçalho em dois para poder ajustar melhor e ai cada u ficou com metade */
.ladoscabecalho {
    width: 50%;
}

#cabecalho img{
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
}

#cabecalho span {
    color: rgb(103, 66, 190);
    font-size: 50px;
    margin: 0px auto;

}


/* CONTEÚDO */
#conteudo {
    background-color: rgb(36, 47, 202);
    width: 50%;
    margin: 20px auto ; 
    padding: 20px;
    text-align: center;
}

#conteudo img {
    width: 100%;
}

#conteudo span {
    color: aliceblue;
    margin-left: 125px;
    font-weight: bold;
}