*{
    margin: 0%;
    padding: 0%;
}

.produtos {
    width: 200px;
    height: 150px;
    background-color: rgb(81, 119, 145);
    border-radius: 10px;
    box-shadow: 5px 5px 10px #b1b1b1;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 2px solid  rgb(97, 159, 201);
    align-items: center;
    gap: 15px;

}

#btn {
    border: none;
    border-radius: 10px;
    background-color: rgb(138, 192, 243) ;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;

}

h3, p {
    color: white;
    margin-top: 5px;
}

h3 {
    text-shadow: 5px 5px 10px #000000;
}


h1 {
    color: rgb(102, 102, 230);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 5px 5px 10px #6b6060;
}